{% load i18n %} {% load static %}
<div class="oh-modal__dialog-header pb-0">
    <h1 class="oh-modal__dialog-title" id="addEmployeeModalLabel">
        {% trans "Create Payslip" %}
    </h1>
    <button class="oh-modal__close" aria-label="Close">
        <ion-icon name="close-outline"></ion-icon>
    </button>
</div>
<div class="oh-modal__dialog-body" id="individualPayslipModal">
    <form hx-post="{% url 'create-payslip' %}" hx-target="#objectCreateModalTarget" class="oh-profile-section pt-1"
        id="payslipCreateForm">
        {% csrf_token %}
        <div class="row">
            <div class="col-12">
                <div class="oh-input__group">
                    <label class="oh-input__label" for="{{individual_form.employee_id.id_for_label}}">{% trans "Employee" %}</label>
                    {{individual_form.employee_id}} {{individual_form.employee_id.errors}}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div id="contractStartDateDiv" class="mt-2"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                <div class="oh-input__group">
                    <label class="oh-input__label" for="{{individual_form.start_date.id_for_label}}">{% trans "Start Date" %}</label>
                    {{individual_form.start_date}} {{individual_form.start_date.errors}}
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                <div class="oh-input__group">
                    <label class="oh-input__label" for="{{individual_form.end_date.id_for_label}}">{% trans "End Date" %}</label>
                    {{individual_form.end_date}} {{individual_form.end_date.errors }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h5 class="oh-input__label mb-3 mt-3">{% trans "Deduction Controls" %}</h5>
                <p class="text-muted mb-3">{% trans "Select which deductions to apply for this pay period" %}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-6 col-md-4 col-lg-2">
                <div class="oh-input__group">
                    <label class="oh-switch">
                        {{individual_form.apply_sss}}
                        <span class="oh-switch__slider"></span>
                        <span class="oh-switch__label">{% trans "SSS" %}</span>
                    </label>
                    {{individual_form.apply_sss.errors}}
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-2">
                <div class="oh-input__group">
                    <label class="oh-switch">
                        {{individual_form.apply_philhealth}}
                        <span class="oh-switch__slider"></span>
                        <span class="oh-switch__label">{% trans "PhilHealth" %}</span>
                    </label>
                    {{individual_form.apply_philhealth.errors}}
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-2">
                <div class="oh-input__group">
                    <label class="oh-switch">
                        {{individual_form.apply_pagibig}}
                        <span class="oh-switch__slider"></span>
                        <span class="oh-switch__label">{% trans "Pag-IBIG" %}</span>
                    </label>
                    {{individual_form.apply_pagibig.errors}}
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="oh-input__group">
                    <label class="oh-switch">
                        {{individual_form.apply_tax}}
                        <span class="oh-switch__slider"></span>
                        <span class="oh-switch__label">{% trans "Withholding Tax" %}</span>
                    </label>
                    {{individual_form.apply_tax.errors}}
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="oh-input__group">
                    <label class="oh-switch">
                        {{individual_form.apply_allowances}}
                        <span class="oh-switch__slider"></span>
                        <span class="oh-switch__label">{% trans "Allowances" %}</span>
                    </label>
                    {{individual_form.apply_allowances.errors}}
                </div>
            </div>
        </div>
        <div class="oh-modal__dialog-footer p-0 pt-4">
            <input type="submit" value="Save" class="oh-btn oh-btn--secondary oh-btn--shadow" />
        </div>
    </form>
</div>
